h1{
    text-align: center;
}
.top{
    background-color: aquamarine;
    transform: translateX(50%);
    border: 1px solid #c3c3c3;
    padding: 10px;
    width:50%;
    height:25px;
}
.bottom{
    background-color:cyan;
    transform: translateX(20%);
    border: 1px solid #c3c3c3;
    padding: 10px;
    width:70%;
}
.inner_div{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
    display: none;
}
.list{
    border: 1px solid #c3c3c3;
    padding: 10px;
    width:50%;
    background-color:white;
}
.list_changed{
    border: 1px solid #c3c3c3;
    padding: 10px;
    width:50%;
    background-color:coral;
}
.div_list{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
}

